.planned {
  border-radius: 4px;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow:
    0px 1px 3px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #ffcee6;
  color: #f02d92;
  font-family: var(--font-pretendard-semi-bold);
}

.progress {
  border-radius: 4px;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow:
    0px 1px 3px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #cee1ff;
  color: #116dff;
  font-family: var(--font-pretendard-semi-bold);
}

.completed {
  border-radius: 4px;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow:
    0px 1px 3px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5e2;
  color: #636371;
  font-family: var(--font-pretendard-semi-bold);
}

.category {
  border-radius: 4px;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow:
    0px 1px 3px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #f4fef4;
  color: #0e6d0c;
  font-family: var(--font-pretendard-semi-bold);
}
