@import '@/styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1128px;
  width: 100%;
  position: relative;
}

.product-wrap {
  width: 100%;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 20px;
  }
}

.product-header {
  display: flex;
  width: 100%;

  div:first-child {
    flex: 1;
  }
}
