.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.count {
  font-family: var(--font-gmarket-sans-bold);
  font-size: 20px;
  line-height: 28px;
}

.text {
  font-size: 16px;
  line-height: 19.2px;
}
